.slick-slide:focus {
  outline: none; }

.full_height {
  padding-top: 80px; }

body .home-header .navbar {
  background-color: transparent; }
  body .home-header .navbar li a,
  body .home-header .navbar .location a {
    color: #ffffff;
    position: relative; }
    body .home-header .navbar li a:after,
    body .home-header .navbar .location a:after {
      color: #ffffff; }

body .home-header #nav-icon1 span {
  background: #ffffff; }

body .home-header:not(.scrolled) li a:before {
  background: #ffffff; }

.section-1 {
  position: relative; }
  .section-1 .banner_paginator {
    position: absolute;
    bottom: 62px;
    right: 32px;
    z-index: 2; }
    .section-1 .banner_paginator .prev, .section-1 .banner_paginator .next {
      width: 32px;
      height: 32px;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer; }
      .section-1 .banner_paginator .prev .fas, .section-1 .banner_paginator .next .fas {
        font-size: 14px;
        color: #fff; }
      .section-1 .banner_paginator .prev:hover, .section-1 .banner_paginator .next:hover {
        border: 1px solid white; }
        .section-1 .banner_paginator .prev:hover .fas, .section-1 .banner_paginator .next:hover .fas {
          font-size: 18px; }
    .section-1 .banner_paginator .prev {
      margin-bottom: 20px; }

.slider_info {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
  .slider_info .container {
    width: 100%;
    height: 100%;
    position: relative; }
  .slider_info .slide_counter {
    position: absolute;
    right: 15px;
    bottom: 201px;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    text-align: center; }
    .slider_info .slide_counter .slide_count {
      color: rgba(255, 255, 255, 0.5);
      width: 67px;
      border-top: 1px solid #ffffff; }

.top_banner_slider {
  height: 100vh;
  max-height: 100vh !important; }
  .top_banner_slider .banner_slide {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    border: none; }
    .top_banner_slider .banner_slide:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #1b1b1b;
      opacity: 0.6;
      z-index: 1;
      content: ''; }
    .top_banner_slider .banner_slide .container {
      width: 100%;
      height: 100vh;
      position: relative; }
    .top_banner_slider .banner_slide .top_title {
      position: absolute;
      bottom: 260px;
      left: 0;
      font-size: 75px;
      font-family: 'Proxima Nova Semibold';
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #fff;
      letter-spacing: 5px;
      text-transform: uppercase;
      z-index: 2;
      overflow: hidden; }
      .top_banner_slider .banner_slide .top_title span {
        display: inline-block;
        -webkit-transform: translateY(150px) skew(0deg, 25deg);
        -ms-transform: translateY(150px) skew(0deg, 25deg);
        transform: translateY(150px) skew(0deg, 25deg);
        -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .top_banner_slider .banner_slide .btm_title {
      position: absolute;
      bottom: 135px;
      font-size: 75px;
      font-family: 'Proxima Nova Semibold';
      letter-spacing: 5px;
      color: #ffffff;
      text-transform: uppercase;
      z-index: 2;
      left: 0;
      overflow: hidden; }
      .top_banner_slider .banner_slide .btm_title span {
        display: inline-block;
        -webkit-transform: translateY(-160px) skew(0deg, -25deg);
        -ms-transform: translateY(-160px) skew(0deg, -25deg);
        transform: translateY(-160px) skew(0deg, -25deg);
        -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .top_banner_slider .banner_slide .devider {
      position: absolute;
      bottom: 260px;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      height: 1px;
      width: 100%;
      -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
      transform: scale(0.1);
      z-index: 2; }
      .top_banner_slider .banner_slide .devider.scaled {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }

.section-2 .section_title {
  margin-bottom: 65px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: #100e12; }

.section-2 .video_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section-2 .video_wrap {
  max-width: 100%;
  width: 490px;
  height: 367px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.section-2 .about_box {
  font-family: 'Proxima Nova';
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1.98px;
  color: #100e12;
  line-height: 48px;
  margin-bottom: 124px; }

.section-3 {
  background-color: #100e12;
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 54px; }
  .section-3 .contact_header {
    text-align: center;
    margin-bottom: 66px; }
    .section-3 .contact_header h2 {
      font-family: 'Proxima Nova Semibold';
      font-weight: 400;
      font-size: 60px;
      letter-spacing: -0.62px;
      margin-bottom: 25px; }
    .section-3 .contact_header p {
      font-size: 24px;
      margin-bottom: 0; }
  .section-3 .contacts_item div {
    margin-bottom: 48px; }
  .section-3 .contacts_item span {
    font-weight: 500;
    display: block; }
  .section-3 .contacts_item a {
    color: #ffffff; }
  .section-3 .soc_links a {
    color: #ffffff;
    margin-right: 18px; }
    .section-3 .soc_links a .fab {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      .section-3 .soc_links a .fab:hover {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        text-shadow: 0 0 8px #ffffff; }
  .section-3 form {
    max-width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    caret-color: #ffffff; }
    .section-3 form .form-item {
      position: relative;
      width: 100%; }
    .section-3 form input, .section-3 form textarea {
      width: 100%;
      background-color: #100e12;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-size: 14px;
      border-radius: 0;
      margin: 20px 0; }
    .section-3 form input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .section-3 form input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .section-3 form input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .section-3 form input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .section-3 form textarea::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .section-3 form textarea::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .section-3 form textarea:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .section-3 form textarea:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .section-3 form label {
      color: #8fc1e2;
      font-size: 12px;
      opacity: 0;
      position: absolute;
      top: -3px;
      left: 0;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .section-3 form input:focus {
      border-bottom: 3px solid #8fc1e2; }
    .section-3 form input.invalid {
      border-bottom: 1px solid red; }
    .section-3 form input:focus + label {
      opacity: 1; }
    .section-3 form textarea:focus + label {
      opacity: 1; }
    .section-3 form .btn-send {
      width: 175px;
      height: 40px;
      background-color: #8fc1e2;
      border-radius: 20px;
      border: none;
      font-size: 14px;
      color: #100e12;
      text-transform: uppercase;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-top: 30px;
      position: relative;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .section-3 form .btn-send:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #31708f;
        position: absolute;
        top: 0;
        left: -175px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .section-3 form .btn-send:hover:before {
        left: 0; }
      .section-3 form .btn-send img {
        margin-left: 10px;
        z-index: 2;
        position: relative; }
      .section-3 form .btn-send span {
        z-index: 2;
        position: relative; }

.section-4 {
  background-color: #f2f2f2;
  padding-bottom: 54px; }
  .section-4 .section_title {
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 82px; }
  .section-4 .clinics_sl_item:hover a {
    text-decoration: none; }
  .section-4 .slide_box {
    border-radius: 3px;
    min-height: 646px;
    margin: 0 15px;
    -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    padding-bottom: 20px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .section-4 .slide_box .img_wrap {
      height: 40%; }
      .section-4 .slide_box .img_wrap img {
        width: 100%;
        max-height: 100%;
        max-width: 100%; }
    .section-4 .slide_box h4 {
      color: #1a1a1a;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      margin: 43px 30px 32px 30px; }
    .section-4 .slide_box p {
      color: #9b9b9b;
      line-height: 24px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      word-wrap: break-word;
      max-height: 192px;
      padding: 0 30px; }
    .section-4 .slide_box:hover {
      -webkit-transform: perspective(200px) translateZ(5px);
      transform: perspective(200px) translateZ(5px);
      -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); }
  .section-4 .nav_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px; }
    .section-4 .nav_buttons .prev_clinic, .section-4 .nav_buttons .next_clinic {
      display: inline-block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid #818082;
      color: #100e12;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .section-4 .nav_buttons .prev_clinic .fas, .section-4 .nav_buttons .next_clinic .fas {
        margin-left: 9px;
        margin-top: 7px; }
      .section-4 .nav_buttons .prev_clinic:hover, .section-4 .nav_buttons .next_clinic:hover {
        color: #3b5998;
        border: 1px solid #3b5998; }
    .section-4 .nav_buttons .next_clinic {
      margin-left: 20px; }
      .section-4 .nav_buttons .next_clinic .fas {
        margin-left: 11px; }

.section-5 {
  background-color: #100e12;
  padding-bottom: 54px; }
  .section-5 .services_slider .slick-current .slide_box {
    margin-left: 0; }
  .section-5 .section_title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 2px; }
  .section-5 h6 {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -0.33px;
    line-height: 34px;
    margin-bottom: 60px; }
  .section-5 .slide_box {
    margin: 0 48px;
    border-top: 1px solid #ffffff;
    min-height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .section-5 .slide_box a {
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 36px;
      font-weight: 700;
      line-height: 48px; }
      .section-5 .slide_box a:hover {
        text-decoration: none; }
    .section-5 .slide_box .img_wrap img {
      max-width: 88px;
      padding-left: 4px;
      margin-bottom: 35px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .section-5 .slide_box:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .section-5 .nav_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section-5 .nav_buttons .read_more_link a:before {
      color: #ffffff;
      border-bottom: 2px solid #ffffff; }
    .section-5 .nav_buttons .prev_service, .section-5 .nav_buttons .next_service {
      display: inline-block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid #878688;
      color: #f7f7f7; }
      .section-5 .nav_buttons .prev_service .fas, .section-5 .nav_buttons .next_service .fas {
        margin-left: 9px;
        margin-top: 7px; }
      .section-5 .nav_buttons .prev_service:hover, .section-5 .nav_buttons .next_service:hover {
        color: #999999;
        border: 1px solid #999999; }
    .section-5 .nav_buttons .next_service {
      margin-left: 20px; }
      .section-5 .nav_buttons .next_service .fas {
        margin-left: 11px; }

.section-6 {
  background-color: #f2f2f2;
  padding-bottom: 54px; }
  .section-6 .clinics_sl_item:hover a {
    text-decoration: none; }
  .section-6 .section_title {
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 82px; }
  .section-6 .slide_box {
    border-radius: 3px;
    min-height: 646px;
    margin: 0 15px;
    -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.11);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .section-6 .slide_box a:hover {
      text-decoration: none; }
    .section-6 .slide_box .img_wrap {
      height: 40%; }
      .section-6 .slide_box .img_wrap img {
        width: 100%;
        max-height: 100%;
        max-width: 100%; }
    .section-6 .slide_box h4 {
      color: #1a1a1a;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      margin: 43px 30px 36px 30px; }
    .section-6 .slide_box .text_wrap {
      padding-bottom: 60px; }
    .section-6 .slide_box p {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      line-height: 24px;
      word-wrap: break-word;
      max-height: 192px;
      color: #9b9b9b;
      padding: 0 30px; }
    .section-6 .slide_box:hover {
      -webkit-transform: perspective(200px) translateZ(5px);
      transform: perspective(200px) translateZ(5px);
      -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); }
  .section-6 .nav_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px; }
    .section-6 .nav_buttons .prev_doctor, .section-6 .nav_buttons .next_doctor {
      display: inline-block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid #818082;
      color: #100e12; }
      .section-6 .nav_buttons .prev_doctor .fas, .section-6 .nav_buttons .next_doctor .fas {
        margin-left: 9px;
        margin-top: 7px; }
      .section-6 .nav_buttons .prev_doctor:hover, .section-6 .nav_buttons .next_doctor:hover {
        color: #3b5998;
        border: 1px solid #3b5998; }
    .section-6 .nav_buttons .next_doctor {
      margin-left: 20px; }
      .section-6 .nav_buttons .next_doctor .fas {
        margin-left: 11px; }

.cont_anchor a {
  width: 50px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

@media (max-width: 1199.98px) {
  .full_height {
    padding-bottom: 80px; }
  .navbar .nav-item {
    min-height: 73px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .navbar .nav-item:after {
      height: 1px;
      width: 100vw;
      content: "";
      background: url("../media/menu_border.png") no-repeat;
      position: absolute;
      bottom: 0;
      background-size: cover;
      left: -121px; }
    .navbar .nav-item:last-child:after {
      display: none; }
  .navbar-expand-xl > .container {
    padding-right: 15px;
    padding-left: 15px; }
  body .nav-link.active-link:after {
    background-color: #ffffff; } }

@media (max-width: 991px) {
  .top_header ul li a span {
    display: none; }
  .navbar-expand-lg > .container {
    padding-right: 15px;
    padding-left: 15px; }
  .section-2 .about_box {
    margin-bottom: 71px;
    margin-top: 78px; }
  .top_header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  body .clinics h3,
  body .clinics p {
    margin-bottom: 30px; }
  .about_page .about_box {
    margin-top: 30px; }
  .order-item .col-lg-3 {
    margin-left: -3vw; }
    .order-item .col-lg-3 span {
      margin-bottom: 34px;
      margin-top: 15px;
      display: inline-block; }
  body .review-details h1 {
    margin-top: 69px;
    margin-bottom: 30px; } }

@media (max-width: 767.98px) {
  .section-2 .video_wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-2 .section_title {
    margin-bottom: 20px; }
  .contacts_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contacts_item div {
      width: 50%; }
  .section-3 form {
    margin-top: 50px; }
    .section-3 form .btn-send {
      -ms-flex-item-align: end;
      align-self: flex-end; }
  .clinics h3 {
    margin-top: 30px; }
  .soc_links {
    margin-bottom: 50px; }
  body .modal .close {
    right: 0; }
  .dropdown-menu .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .dropdown-menu .container a:hover {
      color: #ffffff; } }

@media (max-width: 575px) {
  .navbar .nav-item:after {
    left: -34px; }
  .navbar-expand-lg > .container {
    padding: 0; }
  body .clinics {
    padding: 180px 0 50px; }
    body .clinics h3 {
      margin: 15px 0;
      font-size: 24px; }
    body .clinics p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px; }
    body .clinics .page_title {
      margin-bottom: 25px; }
  body .barcelona {
    padding: 180px 0 50px; }
    body .barcelona .page_title {
      margin-bottom: 25px; }
    body .barcelona h1 {
      font-size: 24px;
      line-height: 34px; }
    body .barcelona h2 {
      font-size: 24px;
      line-height: 34px;
      margin: 15px 0; }
    body .barcelona p {
      font-size: 16px;
      line-height: 24px; }
  body .contacts_page .contacts_item div {
    margin-bottom: 37px; }
  body .about_page {
    padding: 180px 0 50px; }
  body .how-it-works {
    padding: 180px 0 50px; }
    body .how-it-works .col-2 {
      font-size: 50px;
      line-height: 50px; }
    body .how-it-works .col-10 {
      font-size: 30px;
      line-height: 40px; }
      body .how-it-works .col-10 span {
        padding-bottom: 30px; }
  body .modal .close span {
    width: 20px;
    height: 20px;
    background-size: contain; }
  body .review-details {
    padding: 180px 0 50px; }
    body .review-details .page_title {
      margin-bottom: 25px; }
  .section-4 .slide_box {
    min-height: auto; }
  .section-5 .slide_box {
    min-height: 270px; }
  body .cont_anchor {
    bottom: 10px;
    right: 20px; }
  body .top_banner_slider .banner_slide .top_title {
    font-size: 55px; }
  body .top_banner_slider .banner_slide .btm_title {
    font-size: 55px;
    bottom: 170px; } }

@media (max-width: 420px) {
  .contacts_item div {
    width: 100%; }
  .navbar-brand img {
    max-width: 60vw; }
  body .modal .contact_header h2 {
    font-size: 54px;
    margin-bottom: 10px; }
  body .modal .close {
    top: 5px;
    right: -5px; } }

@media (min-width: 1200px) {
  .navbar-brand {
    margin-right: 50px; }
  .nav-link.active {
    border-bottom: 1px solid #100e12; }
  .location {
    margin-left: 25px; } }

@media (min-width: 992px) {
  .full_height {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 130px; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px; }
  .top_header ul li a .fas {
    display: none; }
  .barcelona h2 {
    text-indent: calc(50% + 24px); }
  .barcelona p {
    -webkit-column-gap: 48px;
    -moz-column-gap: 48px;
    column-gap: 48px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
  .order-item {
    margin-top: 68px; } }

@media (min-width: 768px) {
  .top_header ul {
    width: 100%; }
  @-moz-document url-prefix() {
    .nav_buttons {
      margin-top: 50px; } } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .top_title {
    color: #ffffff; } }

.contacts_nav {
  background-color: #ffffff;
  padding-bottom: 40px; }
  .contacts_nav #navbarNav .navbar-nav li a {
    color: #100e12; }
  .contacts_nav #nav-icon1 span {
    background: #100e12; }

.scrolled .contacts_nav {
  padding-bottom: 0; }

.clinics {
  background-color: #f2f2f2;
  padding: 235px 0 110px; }
  .clinics .page_title {
    margin-bottom: 82px; }
  .clinics .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .clinics img {
    max-width: 100%; }
  .clinics h3 {
    color: #1a1a1a;
    font-family: 'Proxima Nova';
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 50px; }
  .clinics p {
    color: #9b9b9b;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 50px; }
  .clinics .row {
    margin-bottom: 85px; }

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 25px;
  font-size: 18px; }
  .pages .counter {
    margin-right: 40px; }
    .pages .counter .current_page {
      color: #100e12;
      padding: 5px;
      margin-right: 20px; }
  .pages .total_pages {
    color: #100e12;
    position: relative;
    padding: 5px;
    margin-left: 20px; }
    .pages .total_pages:before {
      content: "";
      width: 1px;
      height: 67px;
      background-color: #100e12;
      position: absolute;
      left: -20px;
      top: -22px; }
  .pages .pages_nav a {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #818082;
    color: #100e12;
    padding: 3px 9px; }
    .pages .pages_nav a:last-child {
      margin-left: 20px; }
    .pages .pages_nav a:hover {
      border: 1px solid #3b5998;
      color: #3b5998;
      text-decoration: none; }

.barcelona {
  padding: 235px 0 110px; }
  .barcelona .page_title {
    margin-bottom: 65px; }
  .barcelona img {
    width: 100%;
    max-width: 100%; }
  .barcelona h1, .barcelona h2 {
    color: #100e12;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.98px; }
  .barcelona h2 {
    margin: 57px 0 61px; }
  .barcelona p, .barcelona span {
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; }
  .barcelona span {
    display: block;
    margin-bottom: 1em; }

.contacts_page {
  background-color: #f2f2f2;
  min-height: calc(100vh - 60px);
  padding: 205px 0 50px;
  color: #100e12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contacts_page h2 {
    font-family: 'Proxima Nova Semibold';
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -0.62px;
    margin-bottom: 25px;
    text-align: center; }
  .contacts_page .contact_header {
    text-align: center;
    margin-bottom: 66px; }
    .contacts_page .contact_header p {
      font-size: 24px;
      margin-bottom: 0; }
  .contacts_page .contacts_item div {
    margin-bottom: 48px; }
  .contacts_page .contacts_item span {
    font-weight: 500;
    display: block; }
  .contacts_page .contacts_item a {
    color: #100e12; }
  .contacts_page form {
    max-width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contacts_page form input, .contacts_page form textarea {
      background-color: #f2f2f2;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(16, 14, 18, 0.8);
      color: #100e12;
      font-size: 14px;
      border-radius: 0;
      margin-bottom: 30px; }
    .contacts_page form .btn-send {
      width: 175px;
      height: 40px;
      background-color: #31708f;
      border-radius: 20px;
      border: none;
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
      -ms-flex-item-align: end;
      align-self: flex-end;
      position: relative;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .contacts_page form .btn-send:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #8fc1e2;
        position: absolute;
        top: 0;
        left: -175px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .contacts_page form .btn-send:hover:before {
        left: 0; }
      .contacts_page form .btn-send img {
        margin-left: 10px;
        z-index: 2;
        position: relative; }
      .contacts_page form .btn-send span {
        z-index: 2;
        position: relative; }
  .contacts_page .soc_links a {
    color: #100e12;
    margin-right: 18px; }
  .contacts_page .soc_links .fab:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    color: #31708f;
    text-shadow: 0 0 15px #31708f; }

.about_page {
  padding: 235px 0 110px; }
  .about_page .page_title {
    position: absolute;
    top: 0; }
  .about_page .video_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about_page .about_box {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1.98px;
    color: #100e12;
    line-height: 48px; }
  .about_page .video_wrap {
    max-width: 100%;
    width: 490px;
    height: 367px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.how-it-works {
  padding: 235px 0 110px; }
  .how-it-works .page_title {
    margin-bottom: 65px; }
  .how-it-works h1 {
    color: #100e12;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.98px; }
  .how-it-works img {
    width: 100%;
    max-width: 100%; }

.order-item .col-2 {
  color: #100e12;
  font-family: "Proxima Nova";
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  letter-spacing: -5.5px; }

.order-item .col-10,
.order-item .col-lg-3 {
  color: #100e12;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.98px; }

.order-item .col-10 span {
  display: inline-block;
  border-bottom: 1px solid #100e12;
  padding-bottom: 60px; }

.reviews {
  padding: 235px 0 110px;
  background-color: #f2f2f2; }
  .reviews h1 {
    color: #100e12;
    font-family: 'Proxima Nova Semibold';
    font-size: 60px;
    letter-spacing: -0.62px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 25px; }
  .reviews h2 {
    color: #100e12;
    font-size: 24px;
    text-align: center;
    margin-bottom: 76px; }
  .reviews img {
    width: 51px;
    height: 51px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 17px;
    margin-bottom: 22px;
    background-color: #d8d8d8; }
  .reviews h3 {
    color: #1b1b1b;
    font-family: 'Proxima Nova';
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3.56px;
    word-wrap: break-word;
    max-width: calc(100% - 68px);
    margin-bottom: 22px; }
  .reviews p {
    color: #1b1b1b;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 31px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .reviews .review-wrap {
    background-color: #ffffff;
    padding: 32px;
    -webkit-box-shadow: 0 4px 10px rgba(0, 1, 1, 0.15);
    box-shadow: 0 4px 10px rgba(0, 1, 1, 0.15);
    border: 1px solid #ffffff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-bottom: 33px; }
    .reviews .review-wrap div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .reviews .review-wrap a:hover {
      text-decoration: none; }
    .reviews .review-wrap:hover {
      background-color: #f2f2f2;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.3); }
  .reviews span {
    color: #9b9b9b;
    line-height: 28px; }
  .reviews .pages {
    margin-top: 62px; }

@-moz-document url-prefix() {
  .reviews p {
    max-height: 84px;
    overflow: hidden; } }

.review-details {
  padding: 235px 0 110px; }
  .review-details .page_title {
    color: #100e12;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.25px;
    margin-bottom: 105px; }
  .review-details img {
    max-width: 100%;
    width: 100%; }
  .review-details h1 {
    color: #100e12;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.98px;
    margin-bottom: 69px; }
  .review-details p {
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 45px; }
  .review-details .back_btn {
    text-align: right; }
    .review-details .back_btn .fas {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid #818082;
      color: #100e12;
      padding: 7px 11px 7px 0;
      margin-right: 21px; }
    .review-details .back_btn a {
      color: rgba(16, 14, 18, 0.5); }
      .review-details .back_btn a:hover {
        text-decoration: none;
        color: #3b5998; }
        .review-details .back_btn a:hover .fas {
          border: 1px solid #3b5998;
          color: #3b5998; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?iefix") format("eot"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNovaSemibold/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNovaSemibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaSemibold/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNovaSemibold/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none; }

.slick-arrow {
  cursor: pointer; }

html {
  scroll-behavior: smooth; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%; }
  header:not(.home-header) .navbar-nav li a:before {
    background: #100e12; }

.top_header {
  min-height: 47px;
  background-color: #8fc1e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .top_header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .top_header ul li a {
      color: #100e12;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.56px; }
      .top_header ul li a:hover {
        text-decoration: none;
        color: #333333; }

.navbar {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ffffff;
  padding-bottom: 32px; }
  .navbar.opened {
    background-color: rgba(0, 0, 0, 0.95) !important;
    height: calc(100vh - 47px);
    overflow-y: auto; }
    .navbar.opened .navbar-nav li a,
    .navbar.opened .location a {
      color: #ffffff; }
    .navbar.opened .logo .logo-white {
      display: block; }
    .navbar.opened .logo .logo-black {
      display: none; }
    .navbar.opened #nav-icon2 span {
      background-color: #ffffff; }
  .navbar .nav-link,
  .navbar .location a {
    color: #100e12; }
  .navbar .nav-link.active-link {
    position: relative; }
    .navbar .nav-link.active-link:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      background-color: #100e12;
      height: 1px; }
  .navbar .location a:first-child {
    margin-right: 10px;
    position: relative; }
    .navbar .location a:first-child:after {
      content: "|";
      display: inline-block;
      position: absolute;
      color: #100e12;
      right: -7px;
      top: -1px; }
  .navbar .location a:last-child {
    margin-left: 5px; }
  .navbar .logo .logo-white {
    display: none; }
  .navbar .navbar-toggler {
    padding: 4px 0; }

.navbar-brand {
  margin-top: 21px; }
  .navbar-brand .logo-dark {
    display: none; }

.location {
  padding-top: 28px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

body .location a.active {
  color: #8fc1e2 !important; }

#navbarNav .navbar-nav {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 28px; }
  #navbarNav .navbar-nav li a {
    font-size: 18px;
    white-space: nowrap;
    position: relative; }
    #navbarNav .navbar-nav li a:before {
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 5px;
      left: 0;
      overflow: hidden;
      max-width: 0;
      content: '';
      -webkit-transition: max-width 0.5s;
      -moz-transition: max-width 0.5s;
      -o-transition: max-width 0.5s;
      transition: max-width 0.5s; }
    #navbarNav .navbar-nav li a:hover:before {
      max-width: 100%; }

.top_header ul li a .fas {
  font-size: 23px; }

.navbar-light .navbar-toggler {
  border: none;
  padding: 0; }

#nav-icon1,
#nav-icon2 {
  width: 20px;
  height: 14px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-top: 30px; }
  #nav-icon1.open,
  #nav-icon2.open {
    margin-top: 15px;
    height: 25px; }
  #nav-icon1:hover span,
  #nav-icon2:hover span {
    background: #3b5998; }

#nav-icon1 span,
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 20px;
  background: #100e12;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1),
#nav-icon2 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2),
#nav-icon2 span:nth-child(2) {
  top: 7px; }

#nav-icon1 span:nth-child(3),
#nav-icon2 span:nth-child(3) {
  top: 14px; }

#nav-icon1.open span:nth-child(1),
#nav-icon2.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2),
#nav-icon2.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3),
#nav-icon2.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

#show_contacts_btn:before {
  content: "\f0d7";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

#show_contacts_btn.opened:before {
  content: "\f0d8"; }

.btn-group {
  position: static; }
  .btn-group .dropdown-menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 0 15px;
    border-radius: 0;
    width: 100vw;
    left: 0;
    top: 46px; }
    .btn-group .dropdown-menu li {
      min-height: 78px;
      position: relative;
      padding: 28px 0; }
      .btn-group .dropdown-menu li:not(:last-child):after {
        height: 1px;
        width: 100vw;
        content: "";
        background: url(../media/menu_border.png) no-repeat;
        position: absolute;
        bottom: 0;
        background-size: cover;
        left: -121px; }
    .btn-group .dropdown-menu a {
      color: #ffffff;
      position: relative;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.72px;
      display: block; }
  .btn-group a {
    color: #100e12;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.56px;
    line-height: 27px;
    white-space: nowrap; }
  .btn-group #show_contacts_btn {
    margin-left: 9px;
    padding: 0 5px;
    cursor: pointer; }

header.scrolled .navbar {
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 0;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(68, 68, 68, 0.1);
  box-shadow: 0px 1px 6px 0px rgba(68, 68, 68, 0.1); }
  header.scrolled .navbar .navbar-brand {
    margin-top: 5px;
    margin-bottom: 7px; }
  header.scrolled .navbar #nav-icon1.open,
  header.scrolled .navbar #nav-icon2.open {
    margin-top: 0; }
  header.scrolled .navbar:not(.opened) #navbarNav .navbar-nav {
    padding-top: 4px; }
  header.scrolled .navbar:not(.opened) #nav-icon1,
  header.scrolled .navbar:not(.opened) #nav-icon2 {
    margin-top: 0; }
    header.scrolled .navbar:not(.opened) #nav-icon1 span,
    header.scrolled .navbar:not(.opened) #nav-icon2 span {
      background: #100e12; }
  header.scrolled .navbar.opened {
    background-color: rgba(0, 0, 0, 0.8); }
    header.scrolled .navbar.opened .navbar-nav li a,
    header.scrolled .navbar.opened .location a {
      color: #ffffff !important; }
  header.scrolled .navbar #navbarNav .navbar-nav li a {
    color: #100e12; }
    header.scrolled .navbar #navbarNav .navbar-nav li a:before {
      background: #100e12; }
  header.scrolled .navbar .location {
    padding: 8px; }
    header.scrolled .navbar .location a {
      color: #100e12; }
      header.scrolled .navbar .location a.active {
        color: #8fc1e2 !important; }

footer {
  min-height: 60px; }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 60px; }
    footer ul img {
      width: 44px; }
    footer ul a, footer ul span {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.56px; }
    footer ul a:hover {
      text-decoration: none;
      color: #31708f; }
  footer .border {
    border-top: 1px solid #eaeaea; }

.cont_anchor {
  position: fixed;
  right: 40px;
  bottom: 80px;
  width: 50px;
  height: 40px;
  background-color: #8fc1e2;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  padding: 9px 20px;
  border: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .cont_anchor:hover {
    background-color: #31708f; }
    .cont_anchor:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .cont_anchor img {
    height: 25px;
    margin-left: -8px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }

.page_title {
  font-weight: 500;
  letter-spacing: 2px; }

.read_more_link {
  width: 88px; }
  .read_more_link a {
    color: #31708f; }

.read_more_link a {
  border-bottom: 2px solid #31708f;
  color: #31708f;
  text-shadow: none;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500; }
  .read_more_link a:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    border-bottom: 2px solid #100e12;
    color: #100e12;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    -o-transition: max-width 0.5s;
    transition: max-width 0.5s;
    white-space: nowrap; }
  .read_more_link a:hover:before {
    max-width: 100%; }

.modal {
  background-color: rgba(0, 0, 0, 0.8); }
  .modal .modal-dialog {
    max-width: 100%; }
  .modal .modal-content {
    background-color: transparent;
    border: none;
    color: #ffffff;
    position: relative; }
  .modal .close {
    text-shadow: none;
    position: absolute;
    right: 70px;
    top: 22px; }
    .modal .close span {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-image: url("../media/close-icon.svg");
      background-repeat: no-repeat; }
      .modal .close span:hover {
        background-image: url("../media/close-icon_white.svg"); }
  .modal .contact_header {
    text-align: center;
    margin-bottom: 66px; }
    .modal .contact_header h2 {
      font-family: 'Proxima Nova Semibold';
      font-weight: 400;
      font-size: 60px;
      letter-spacing: -0.62px;
      margin-bottom: 25px; }
    .modal .contact_header p {
      font-size: 24px;
      margin-bottom: 0; }
  .modal .contacts_item div {
    margin-bottom: 48px; }
  .modal .contacts_item span {
    font-weight: 500;
    display: block; }
  .modal .contacts_item a {
    color: #ffffff; }
  .modal .soc_links a {
    color: #ffffff;
    margin-right: 18px; }
    .modal .soc_links a .fab {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      .modal .soc_links a .fab:hover {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        text-shadow: 0 0 8px #ffffff; }
  .modal form {
    max-width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    caret-color: #ffffff;
    margin: 0 auto; }
    .modal form .form-item {
      position: relative;
      width: 100%; }
    .modal form input, .modal form textarea {
      width: 100%;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-size: 14px;
      border-radius: 0;
      margin: 20px 0; }
    .modal form input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .modal form input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .modal form input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .modal form input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .modal form textarea::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .modal form textarea::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .modal form textarea:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .modal form textarea:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .modal form label {
      color: #8fc1e2;
      font-size: 12px;
      opacity: 0;
      position: absolute;
      top: -3px;
      left: 0;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .modal form input:focus {
      border-bottom: 3px solid #8fc1e2; }
    .modal form input.invalid {
      border-bottom: 1px solid red; }
    .modal form input:focus + label {
      opacity: 1; }
    .modal form textarea:focus + label {
      opacity: 1; }
    .modal form .btn-send {
      width: 175px;
      height: 40px;
      background-color: #8fc1e2;
      border-radius: 20px;
      border: none;
      font-size: 14px;
      color: #100e12;
      text-transform: uppercase;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-top: 30px;
      position: relative;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .modal form .btn-send:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #31708f;
        position: absolute;
        top: 0;
        left: -175px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .modal form .btn-send:hover:before {
        left: 0; }
      .modal form .btn-send img {
        margin-left: 10px;
        z-index: 2;
        position: relative; }
      .modal form .btn-send span {
        z-index: 2;
        position: relative; }

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */