.barcelona {
  padding: 235px 0 110px;
  .container {
    .row:first-child {
      margin-bottom: 57px;
    }
  }
  .page_title {
    margin-bottom: 65px;
  }
  img {
    width: 100%;
    max-width: 100%;
  }
  h1, h2 {
    color: #100e12;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.98px;
  }
  h2 {
    margin: 60px 0 25px;
  }
  h3 {
    color: #100e12;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  h4 {
    color: #100e12;
    font-family: "Proxima Nova";
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  h5 {
    color: #100e12;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 15px;
  }
  p, span {
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }
  span {
    display: block;
    margin-bottom: 1em;
  }
}
