.slick-slide:focus {
  outline: none;
}

.full_height {
  padding-top: 80px;
}

body .home-header {
  .navbar {
    background-color: transparent;

    li a,
    .location a {
      color: #ffffff;
      position: relative;

      &:after {
        color: #ffffff;
      }
    }
  }

  #nav-icon1 span {
    background: #ffffff;
  }

  &:not(.scrolled) li a:before {
    background: #ffffff;
  }
}

//----------SECTION 1---------
.section-1 {
  //height: 100vh;
  position: relative;

  .banner_paginator {
    position: absolute;
    bottom: 62px;
    right: 32px;
    z-index: 2;

    .prev, .next {
      width: 32px;
      height: 32px;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .fas {
        font-size: 14px;
        color: #fff;
      }

      &:hover {
        border: 1px solid rgba(255, 255, 255, 1);

        .fas {
          font-size: 18px;
        }
      }
    }

    .prev {
      margin-bottom: 20px;
    }
  }
}

.slider_info {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  .container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .slide_counter {
    position: absolute;
    right: 15px;
    top: calc(50% - 60px);
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    text-align: center;

    .slide_count {
      color: rgba(255, 255, 255, 0.5);
      width: 67px;
      border-top: 1px solid #ffffff;
    }
  }
}

.top_banner_slider {
  height: 100vh;
  max-height: 100vh !important;

  .banner_slide {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    border: none;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #1b1b1b;
      opacity: 0.75;
      z-index: 1;
      content: '';
    }

    .container {
      width: 100%;
      height: 100vh;
      position: relative;
    }

    .top_title {
      position: absolute;
      bottom: 260px;
      left: 0;
      font-size: 75px;
      font-family: 'Proxima Nova Semibold';
      color: rgba(0, 0, 0, 0.0);
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #fff;
      letter-spacing: 5px;
      text-transform: uppercase;
      z-index: 2;
      overflow: hidden;

      span {
        display: inline-block;
        transform: translateY(150px) skew(0deg, 25deg);
        transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
    }

    .btm_title {

      position: absolute;
      font-size: 70px;
      line-height: 90px;
      font-family: 'Proxima Nova Semibold';
      letter-spacing: 5px;
      color: #ffffff;
      text-transform: uppercase;
      z-index: 2;
      left: 0;
      max-width: 70%;

      span {
        display: inline-block;
             }
    }
  }
}


//----------SECTION 2---------

.section-2 {
  .section_title {
    margin-bottom: 65px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #100e12;
  }

  .video_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .video_wrap {
    max-width: 100%;
    width: 490px;
    height: 367px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }

  .about_box {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1.98px;
    color: #100e12;
    line-height: 48px;
    margin-bottom: 124px;
  }
}


//----------SECTION 3---------
.section-3 {
  background-color: #100e12;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 54px;

  .contact_header {
    text-align: center;
    margin-bottom: 66px;

    h2 {
      font-family: 'Proxima Nova Semibold';
      font-weight: 400;
      font-size: 60px;
      letter-spacing: -0.62px;
      margin-bottom: 25px;
    }

    p {
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  .contacts_item {
    div {
      margin-bottom: 48px;
    }

    span {
      font-weight: 500;
      display: block;
    }

    a {
      color: #ffffff;

    }
  }

  .soc_links {
    a {
      color: #ffffff;
      margin-right: 18px;

      .fab {
        transform: scale(1);
        transition: all 0.1s ease;

        &:hover {
          transform: scale(1.5);
          text-shadow: 0 0 8px #ffffff;
        }
      }

      .fa-instagram {
        font-size: 18px;
        line-height: 18px;
        transform: translateY(1px);
      }
    }
  }

  form {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    caret-color: #ffffff;

    .form-item {
      position: relative;
      width: 100%;
    }

    input, textarea {
      width: 100%;
      background-color: #100e12;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-size: 14px;
      border-radius: 0;
      margin: 20px 0;
    }

    input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    textarea::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    textarea::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    textarea:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    textarea:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    label {
      color: #8fc1e2;
      font-size: 12px;
      opacity: 0;
      position: absolute;
      top: -3px;
      left: 0;
      transition: .2s;
    }

    input {
      &:focus {
        border-bottom: 3px solid #8fc1e2;
      }

      &.invalid {
        border-bottom: 1px solid red;
      }
    }

    input:focus + label {
      opacity: 1
    }

    textarea:focus + label {
      opacity: 1
    }

    .btn-send {
      width: 175px;
      height: 40px;
      background-color: #8fc1e2;
      border-radius: 20px;
      border: none;
      font-size: 14px;
      color: #100e12;
      text-transform: uppercase;
      align-self: flex-end;
      margin-top: 30px;
      position: relative;
      will-change: transform;
      transform: scale(1);
      transition: all 0.2s;
      &:hover {
        background-color: #ffffff;
        transform: scale(1.05);
        box-shadow: 0 0 8px #fff;
      }

      img {
        margin-left: 10px;
        z-index: 2;
        position: relative;
      }

      span {
        z-index: 2;
        position: relative;
      }
    }
  }

}

//----------SECTION 4---------
.section-4 {
  background-color: #f2f2f2;
  padding-bottom: 54px;

  .section_title {
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 82px;
  }

  .clinics_sl_item:hover a {
    text-decoration: none;
  }

  .slide_box {
    border-radius: 3px;
    min-height: 646px;
    margin: 0 15px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    padding-bottom: 20px;
    transition: all 0.2s;

    .img_wrap {
      height: 260px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h4 {
      color: #1a1a1a;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      margin: 43px 30px 32px 30px;
    }

    p {
      color: #9b9b9b;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      word-wrap: break-word;
      max-height: 192px;
      padding: 0 30px;
    }

    &:hover {
      transform: perspective(200px) translateZ(5px);
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    }
  }

  .nav_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .prev_clinic, .next_clinic {
      display: inline-block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid #818082;
      color: #100e12;
      transition: all 0.2s;

      .fas {
        margin-left: 9px;
        margin-top: 7px;
      }

      &:hover {
        color: #3b5998;
        border: 1px solid #3b5998;
      }
    }

    .next_clinic {
      margin-left: 20px;

      .fas {
        margin-left: 11px;
      }
    }
  }
}

//----------SECTION 5---------
.section-5 {
  background-color: #100e12;
  padding-bottom: 54px;

  .services_slider {
    .slick-current .slide_box {
      margin-left: 0;
    }
  }

  .section_title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 2px;
  }

  h6 {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -0.33px;
    line-height: 34px;
    margin-bottom: 60px;
  }

  .slide_box {
    margin: 0 48px;
    border-top: 1px solid #ffffff;
    min-height: 310px;
    display: flex;
    align-items: center;
    transition: all 0.2s;

    a {
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 36px;
      font-weight: 700;
      line-height: 48px;

      &:hover {
        text-decoration: none;
      }
    }

    .img_wrap img {
      max-width: 88px;
      padding-left: 4px;
      margin-bottom: 35px;
      transition: all 0.2s;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .nav_buttons {
    display: flex;
    justify-content: space-between;

    .read_more_link a:before {
      color: #ffffff;
      border-bottom: 2px solid #ffffff;
    }

    .prev_service, .next_service {
      display: inline-block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid #878688;
      color: #f7f7f7;

      .fas {
        margin-left: 9px;
        margin-top: 7px;
      }

      &:hover {
        color: #999999;
        border: 1px solid #999999;
      }
    }

    .next_service {
      margin-left: 20px;

      .fas {
        margin-left: 11px;
      }
    }
  }

}

//----------SECTION 6---------
.section-6 {
  background-color: #f2f2f2;
  padding-bottom: 54px;

  .clinics_sl_item:hover a {
    text-decoration: none;
  }

  .section_title {
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 82px;
  }

  .slide_box {
    border-radius: 3px;
    min-height: 646px;
    margin: 0 15px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    transition: all 0.2s;

    a:hover {
      text-decoration: none;
    }

    .img_wrap {
      height: 40%;

      img {
        width: 100%;
        max-height: 100%;
        max-width: 100%;
      }
    }

    h4 {
      color: #1a1a1a;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      margin: 43px 30px 36px 30px;
    }

    .text_wrap {
      padding-bottom: 60px;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      line-height: 24px;
      word-wrap: break-word;
      max-height: 192px;
      color: #9b9b9b;
      padding: 0 30px;
    }

    &:hover {
      transform: perspective(200px) translateZ(5px);
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    }
  }

  .nav_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .prev_doctor, .next_doctor {
      display: inline-block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid #818082;
      color: #100e12;

      .fas {
        margin-left: 9px;
        margin-top: 7px;
      }

      &:hover {
        color: #3b5998;
        border: 1px solid #3b5998;
      }
    }

    .next_doctor {
      margin-left: 20px;

      .fas {
        margin-left: 11px;
      }
    }
  }
}

.cont_anchor a {
  width: 50px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  animation: fade-in 1.2s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
.scale-slide {
  -webkit-animation: scale-slide 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-slide 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-23 17:59:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-slide {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}




