
@media (min-width: 992px) {
    .full_height {
      min-height: 100vh;
      display: flex;
      align-items: center;
      padding-top: 130px;
    }
    .navbar-brand {
      margin-right: 70px;
    }
  }