@media (max-width: 1199.98px) {
  .full_height {
    padding-bottom: 80px;
  }
  .navbar .nav-item {
    min-height: 73px;
    position: relative;
    display: flex;
    align-items: center;
    &:after {
      height: 1px;
      width: 100vw;
      content: "";
      background: url("../media/menu_border.png") no-repeat;
      position: absolute;
      bottom: 0;
      background-size: cover;
      left: -121px;
    }
    &:last-child:after {
      display: none;
    }
  }
  .navbar-expand-xl>.container {
    padding-right: 15px;
    padding-left: 15px;
  }
  body .nav-link.active-link:after {
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .top_header ul li a span {
    display: none;
  }
  .navbar-expand-lg>.container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-2 .about_box {
    margin-bottom: 0;
  }

  .top_header .container {
    display: flex;
    justify-content: space-between;
  }

  body .clinics h3,
  body .clinics p {
    margin-bottom: 30px;
  }

  .about_page {
    .about_box {
      margin-top: 30px;
    }
  }
  .order-item .col-lg-3 {

    margin-left: -3vw;
    span {
      margin-bottom: 34px;
      margin-top: 15px;
      display: inline-block;
    }
  }
  body .review-details h1 {
    margin-top: 69px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .section-2 .video_wrap {
    align-items: center;
  }
  .section-2 .section_title {
    margin-bottom: 20px;
  }
  .contacts_item {
    display: flex;
    flex-wrap: wrap;
    div {
      width: 50%;
    }
  }
  .section-3 form {
    margin-top: 50px;
    .btn-send {
      align-self: flex-end;
    }
  }

  .clinics h3 {
    margin-top: 30px;
  }

  .soc_links {
    margin-bottom: 50px;
  }
  body .modal .close {
    right: 0;
  }
  .dropdown-menu .container {
    flex-direction: column;
    a:hover {
      color: #ffffff;
    }
  }
}
@media (max-width: 575px) {
  .navbar .nav-item:after {
    left: -34px;
  }
  .navbar-expand-lg>.container {
    padding: 0;
  }

  body .clinics {
    padding: 180px 0 50px;
    h3 {
      margin: 15px 0;
      font-size: 24px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .page_title {
      margin-bottom: 25px;
    }
  }
  body .barcelona {
    padding: 180px 0 50px;
    .page_title {
      margin-bottom: 25px;
    }
    h1 {
      font-size: 24px;
      line-height: 34px;
    }
    h2 {
      font-size: 24px;
      line-height: 34px;
      margin: 15px 0;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  body .contacts_page {
    .contacts_item div {
      margin-bottom: 37px;
    }
  }
  body .about_page {
    padding: 180px 0 50px;
  }
  body .how-it-works {
    padding: 180px 0 50px;

    .col-2 {
      font-size: 50px;
      line-height: 50px;
    }
    .col-10 {
      font-size: 30px;
      line-height: 40px;
      span {
        padding-bottom: 30px;
      }
    }
  }
  body .modal .close span {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
  body .review-details {
    padding: 180px 0 50px;
    .page_title {
      margin-bottom: 25px;
    }
  }
  .section-4 .slide_box {
    min-height: auto;
  }
  .section-5 .slide_box {
    min-height: 270px;
  }
  body .cont_anchor {
    bottom: 10px;
    right: 20px;
  }
  body .top_banner_slider .banner_slide .top_title {
    font-size: 55px;
  }
  body .top_banner_slider .banner_slide .btm_title {
    font-size: 55px;
    bottom: 170px;
  }
}


@media (max-width: 420px) {
  .contacts_item div {
    width: 100%;
  }
  .navbar-brand img {
    max-width: 60vw;
  }

  body .modal {
    .contact_header h2 {
      font-size: 54px;
      margin-bottom: 10px;
    }
    .close {
      top: 5px;
      right: -5px;
    }
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    margin-right: 50px;
  }
  .nav-link.active {
      border-bottom: 1px solid #100e12;
  }
  .location {
    margin-left: 25px;
  }
}

@media (min-width: 992px) {
  .full_height {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
  .top_header ul li a .fas {
    display: none;
  }
  .barcelona {
    h2, h3, h4, h5 {
      padding-left: calc(50% + 24px);
    }
    p {
      -webkit-column-gap: 48px;
      -moz-column-gap: 48px;
      column-gap: 48px;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
  .order-item {
    margin-top: 68px;
  }
}

@media (min-width: 768px) {
  .top_header ul {
    width: 100%;
  }
  @-moz-document url-prefix() {
    .nav_buttons {
      margin-top: 50px;
    }
  }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .top_title {
    color: #ffffff;
  }
}